body{
  margin: 0;
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  background: linear-gradient (180deg, rgba(227, 255, 248, 0.00) 
  82.08%, rgba(227, 255, 248, 0.38) 100%);
}

.page {
 width: 1000px;
 margin: 0 auto;
 padding-top: 65px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul{
  list-style: none;
  display: flex;
  gap: 48px;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

ul li a{
  color:#1F1534;
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover{
  font-weight: bold;
  opacity: 1;
}

h1{
  width: 490px;
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 span{
  color: #89C5CC;
  font-weight: bold;
}

section p{
  width: 438px;
  font-size: 14px;
  line-height: 28px;
  color:#7D7987;
  margin: 40px 0;
}

button{
  display: flex;
  gap: 10px;
  
  padding: 14px 32px 15px;
  border-style: none;
  border-radius: 4px;
  background: #69B99D;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase; /*maisculo*/
}

button:hover{
  background: #4a9f81;
}

footer{
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a{
  text-decoration: none;
  color: #000;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}

